.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  font-family: Arial;

  .icon {
    width: 35px;
    height: 35px;
  }
}